{% extends 'reviews/main.html' %}

{% block content %}


<div class="row">
	<div class="col-md-8">
                
        <div >
                <form method="get">
                        {{myFilter.form}}
                <button class="btn btn-info" type="submit">Search</button>
                </form>
                          
                        
        </div>
        <h5>Books:</h5>
        <table class="table table-sm">
{% for book in books %}

<tr>
<td><a href="{% url 'book_detail' book.id %}">{{book}}</a> </td>
<td>by {{book.author}}</td>
<td>average rating: {{ book.average_rating | floatformat }}  ({{book.get_all_reviews}})</td>
</tr>

{% endfor %}
</table>


<div class="pagination">
        <span class="step-links">
            {% if books.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ books.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ books.number }} of {{ books.paginator.num_pages }}.
            </span>
    
            {% if books.has_next %}
                <a href="?page={{ books.next_page_number }}">next</a>
                <a href="?page={{ books.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}