{% extends 'reviews/main.html' %}
{% load static %}
{% block content %}

<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 20%;
	}
</style>
<div class="row">
	<div class="col-md-5">
        <!--img  class="profile-pic" src ="{{books.image.url}}"-->
        <h3>Title: {{books.name}}</h1>
        <h4>Author: {{books.author}}</h1>
        
        <h5>Publication year: {{books.publication_year|date:"Y"}}</h5>



<div class="col-lg-6 col-md-6 mb-6">
    <form method="post" action="">
        {% csrf_token %}
        <h5>!Note: you can leave only one review</h5>
        Rate:
        <br>
        {{ form.rating }}
        <br>
        Comment:
        <br>
        {{ form.comment }}
       
    <input type="submit" class="btn btn-success" name="Add Review">
    </form>
    <br>
<a class="btn btn-info" href="{% url 'book_list' %}">Go back to list</a>
</div>
</div>

    <div class="col-md-7">
        <h3>This book has {{ count }} reviews with average rating of {% if count == 0 %} 0 {% else %} {{books.average_rating | floatformat }} {% endif %}</h3>
        <br>
        {% for review in book reversed %}
        <div class="text-wrap">
            <table class="table table-sm">
            <tr>
            <h5>Review by: {{ review.user }} | Grade: {{ review.rating }}/5 
                 {% if request.user == review.user %}
                <a class="btn btn-info" href="{% url 'review_detail' review.id %}">Update</a>
                <a class="btn btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                {% endif %} </h5>
            </tr>
        
           <h5>Comment: {{ review.comment }} </h5> 
        </table>
        </div>
        <br>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if book.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ books.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ book.number }} of {{ book.paginator.num_pages }}.
                </span>
        
                {% if book.has_next %}
                    <a href="?page={{ book.next_page_number }}">next</a>
                    <a href="?page={{ book.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
    </div>
{% endblock %}